---
import i18next, { t } from "i18next";
import { SKILLS, LINKS } from "../shared/constants";
import IconSkill from "./IconSkill.astro";
import Link from "./Link.astro";

---

<section class="relative mt-16">
  <div
    class="flex flex-col items-center z-10 bg-[#1f252e] p-7 md:p-10 rounded-xl"
  >
    <div class="grid grid-cols-2 gap-4">
      <div class="col-span-2 md:col-span-1 animationIn">
        <h2 class="text-center lg:text-left text-xl"> {t("home.welcome")}</h2>
        <h4 class="mb-5 text-center lg:text-left text-2xl">
          {t("home.title")}
        </h4>
        <p class="text-slate-500 dark:text-slate-300 text-center lg:text-left">
          {t("home.about")}
        </p>
        <h3 class="mt-5 mb-2 text-center lg:text-left"> {t("home.contact")}</h3>
        <div class="flex flex-wrap justify-center lg:justify-start gap-5">
          {
            LINKS.map((link) => (
              <Link
                src={link.src}
                svg={link.svg}
                description={link.description}
              />
            ))
          }
        </div>
      </div>
      <div class="col-span-2 md:col-span-1">
        <h2 class="animationIn mb-5 text-center lg:text-left">Skills</h2>
        <ul
          class="flex flex-wrap gap-3 justify-center lg:justify-start"
          id="skills"
        >
          {
            SKILLS.map((skill) => (
              <IconSkill src={skill.src} alt={skill.alt} name={skill.name} />
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
