---
import Link from "./Link.astro";

export interface Props {
  title: string;
  src: string;
  github: string;
  demo: string;
}
const { title, src, github, demo } = Astro.props;
---

<script>
  const openDialogs = document.querySelectorAll("img.show-dialog");
  const closeButtons = document.querySelectorAll("button.close-dialog");
  let alt = "";

  openDialogs.forEach((button) => {
    button.addEventListener("click", () => {
      alt = button.getAttribute("alt") || "";
      const dialog = document.getElementById(`dialog-${alt}`);
      if (dialog) {
        dialog.show();
        document.body.className = "overflow-hidden";
      }
    });
  });

  closeButtons.forEach((button) => {
    button.addEventListener("click", () => {
      const dialog = document.getElementById(`dialog-${alt}`);
      if (dialog) {
        dialog.close();
        document.body.className = "overflow-y-scroll";
      }
    });
  });
</script>

<div
  class="splide__slide flex-[0_0_85%] md:flex-[0_0_50%] flex flex-col justify-center items-center gap-2"
>
  <img
    alt={title}
    class="show-dialog transition-all hover:scale-110 duration-300 cursor-pointer rounded-xl object-cover p-4 w-full h-full"
    src={src}
  />
  <span>{title}</span>
  <div class="flex gap-4 p-1">
    <Link src={github} svg="/github.svg" />
    <Link src={demo} svg="/link.svg" />
  </div>
</div>

<style>
  .slider-item {
    flex: 0 0 50%;
  }
</style>
