---
import Link from "./Link.astro";

export interface Props {
  title: string;
  src: string;
  github: string;
  demo: string;
  description: string;
  pointsLearned: string[];
}
const { title, src, github, demo, description, pointsLearned } = Astro.props;
---

<dialog id={`dialog-${title}`}>
  <div
    class="opacity-100 z-20 fixed inset-0 bg-opacity-50 flex justify-center overflow-y-auto items-center bg-black backdrop-blur-sm w-full p-4 transition-all ease-out duration-300 text-white"
  >
    <div
      class="scale-100 rounded-lg shadow bg-[#1f252e] max-w-5xl z-50 max-h-screen transition-all duration-300"
    >
      <div
        class="flex items-start justify-between p-4 border-b rounded-t border-gray-600"
      >
        <h3 class="text-2xl font-semibold">{title}</h3>
        <button
          type="button"
          class="close-dialog text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-600 hover:text-white"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            ></path>
          </svg>
        </button>
      </div>
      <section class="max-h-[450px] py-5 overflow-y-auto">
        <article
          class="flex flex-wrap lg:flex-nowrap w-full md:gap-9 gap-3 px-5 overflow-y-auto items-center"
        >
          <img
            alt=""
            src={src}
            class="w-full md:w-1/2 md:my-0 md:mx-auto lg:w-5/12 rounded-lg object-cover"
            id="imgProjects"
          />
          <div>
            <h3 class="mb-4 text-2xl">What is it?</h3>
            <p class="text-slate-300 text-balance">
              {description}
            </p>
            <h3 class="my-4 text-2xl">Try it out:</h3>
            <div class="flex gap-2 space-x-3 mb-2">
              <Link src={github} svg="/github.svg" />
              <Link src={demo} svg="/link.svg" />
            </div>
          </div>
        </article>
        <article class="md:gap-9 p-5 overflow-y-auto">
          <h3 class="m-0 text-2xl">What did I learn?</h3>
          <ul class="list-disc ml-4 mt-4 space-y-2">
            {pointsLearned.map((point) => <li>{point}</li>)}
          </ul>
        </article>
      </section>
      <div
        class="flex justify-end items-center p-5 space-x-2 border-t rounded-b border-gray-600"
      >
        <button
          type="button"
          class="close-dialog focus:ring-4 focus:outline-none rounded-lg border text-sm font-medium px-5 py-2.5 focus:z-10 bg-gray-700 text-gray-300 border-gray-500 hover:text-white hover:bg-gray-600 focus:ring-gray-600"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</dialog>
<style>
  .text-balance {
    text-wrap: balance;
  }
</style>
